body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;

background-image: url ("//Users/kathrynyates/Desktop/dublin-skyline-at-dusk-dublin-barry-o-carroll.jpg");
}

.carousel{
  position: relatove;
  height: 400px;
  width: 80%;
  margin: 0 auto;
}

.carousel_image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel_track_container{
background: lightgreen;
height: 100%
position: relative;

}

.carousel_track{
  padding: 0;
  margin: 0;
  list-style: none;
}

.carousel_slide{
  position: absolute;
  top:0
  width: 100%;
}

.carousel_button{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
}

.carousel_button--left{
  left: -40px;
}

.carousel_button--right{
  right: -40px;
}
.carousel_button img{
  width: 12px;
}

.carousel_nav{
  display: flex;
  justify-content: center;
  padding: 10px 0;

}
.carousel_indicator{
  border-radius: 0;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background: rgba(0,0,0,.3);
  margin-left: 0 12px;

}

.carousel_indicator.current_slide{
  background: rgba (0,0,0,.75)
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: darkgreen;
}
li{
  list-style-type: none;
  margin: 0 2vw;
  /* our font-size will be 3% of the height of the viewport */
  font-size: 3vh;
  float: left;
}

li:hover {

  background-color: #e69a29;
}


h1 {
  font-family: "Arial";
  color: green;
  font-size: 50px;
  text-align: center;

}
h2{
  font-family: "Arial";
  color: #15d656;
  font-size: 30px;
  text-align: center;

}

p {
  font-family: "Arial";
  font-size: 15px;
  text-align: center;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.christiana {
  font-family: "Arial";
  color: #15d656;
  font-size: 20px;
  text-align: left;
}

.sarah{
  font-family: "Arial";
  color: #15d656;
  font-size: 20px;
  text-align: center;
}

.kitty {
  font-family: "Arial";
  color: #15d656;
  font-size: 20px;
  text-align: right;
