body {


  background-image: url ("Slide1.jpg");
  background-size: cover;
}

.tips{
  font-size: 20px;
  font-style: italic;
  float: left;
}

.nav_bar li{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: darkgreen;
  float: cover;
}

.nav_bar li: hover {

  background-color: #e69a29;
}

.cafes {
  list-style-type: disc;
  margin: 0 2vw;
  /* our font-size will be 3% of the height of the viewport */
  font-size: 3vh;
  float: left;
}

h1 {
  font-family: "Arial";
  color: green;
  font-size: 50px;
  text-align: center;
}

h2 {
  font-family: "Arial";
  color: #15d656;
  font-size: 30px;
  text-align: center;
}
