body {
  background-color: darkgreen;
}

.tips{
  font-size: 20px;
  font-style: italic;
  float: left;
}

.nav_bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: darkgreen;
  color: white;
}
li{
  list-style-type: none;
  margin: 0 2vw;
  /* our font-size will be 3% of the height of the viewport */
  font-size: 3vh;
  float: left;
  color: white;
}

li:hover {

  background-color: #e69a29;
}

h1 {
  font-family: "Arial";
  color: orange;
  font-size: 50px;
  text-align: center;
}

h2 {
  font-family: "Arial";
  color: #15d656;
  font-size: 30px;
  text-align: center;
}

.carousel_image {
  width: 100%;
  height: 500px;
}

p {
  color: white;
  font-family: Arial;
  text-align: justify;
  font-size: 15px;
}

.list {
  color: white;
  font-family: Arial;
  font-size: 15px;
}

form {
  color: orange;
  font-family: Arial;
  font-size: 25px;
  text-align: center;
}

.form {
  align-items: center;
  align-content: center;
}
